$icon-font-path: '../fonts/';
$primary-color:purple;

// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Space out content a bit */
body {
  background: $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  color: $primary-color;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

*
{
  margin: 0px;

}
body
{
  background:url(../images/1.jpg);
}
.wrap
{
  border:1px solid #ddd;
  margin:100px 100px 0px 100px;
  background:url(../images/2.jpg);
  padding:50px 150px 0px 150px;
  min-height:750px;
}
.form-inline{
  text-align: center;
}

.header
{
  background-color:transparent;
  padding: 1.5em 0;
}
#block {
  border-width: 2px;
  border-color: #4682B4;
  background-color: #E0FFFF;
  width: 200px;
  text-align: center;
  line-height:30px;
  padding:3px 0;
  float:left;
}
img{
  float:left;
  height:100px;
  max-width:120px;
}
.form
{
  float:left;
}
.title
{
  margin:0px;
  color:#337AB7;
  font-size:15px;
  text-align:center;

}
.footer{
  margin-top: 10px;
  padding:10px;
}
.panel
{
  margin-top: 20px;
}
.panel h1
{
  text-align: center;
}
